html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0;
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: blueviolet;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px black;

  }

button {
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  }

button {
  transition: 1s;
  background-color: whitesmoke;
}


#buttons {
  display: flex;
  gap: 30px;
  
}

